/* Chatbot button */
.chatbot-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
    background-color: #551a8b;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: all 0.3s; /* Agrega una transición general */
  }
  
  /* Chatbot icon */
  .icon {
    font-size: 25px; /* Tamaño del ícono */
  }
  
  .chat-window {
    position: fixed;
    bottom: 90px;
    right: 20px;
    z-index: 9999;
    background-color: #fff;
    border-radius: 10px;
    width: 300px;
    height: 400px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    overflow: hidden;
  }
  
  /* Chat questions */
  .chat-questions {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
  
  .chat-questions button {
    background-color: #551A8B;
    color: #fff;
    border: none;
    border-radius: 8px;
    margin: 5px;
    padding: 10px;
    cursor: pointer;
    text-align: left;
    transition: background-color 0.3s;
  }
  
  .chat-questions button:hover {
    background-color: #451372;
  }
  
  /* Chat messages*/
  .chat-messages {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
    background-color: #f4f4f4; /* Fondo del chat */
  }
  
  /* Color del texto de la respuesta (negro) */
  .chat-messages p {
    color: #000;
  }
  
  /* Estilo del botón nueva consulta */
  .new-query-button {
    background-color: #551A8B;
    color: #fff;
    border: none;
    border-radius: 8px;
    margin: 5px;
    padding: 10px;
    cursor: pointer;
    text-align: left;
    transition: background-color 0.3s;
  }
  
  .new-query-button:hover {
    background-color: #451372;
  }
  
  .minimize-button {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #ccc;
    padding: 5px;
    cursor: pointer;
  }
  
  .answer {
    color: #000;
  }
  
  .question {
    color: #000;
    position: center;
  }
  
  @keyframes grow {
    0% { max-height: var(--lineHeight); }
    100% { max-height: calc(var(--lineHeight) * var(--lines)); }
  }
  
  @keyframes carriageReturn {
    0% { top: 0; }
    100% { top: calc(var(--lineHeight) * var(--lines)); }
  }
  
  @keyframes type {
    0% { width: 100%; }
    100% { width: 0%; }
  }
  
  @keyframes caret {
    0% { color: var(--bgColor); }
    100% { color: black; }
  }
  
  .typewriter {
    --bgColor: white;
    --lines: 500;
    --lineHeight: 1.5rem;
    --timePerLine: 4s;
    --widthCh: 22;
    --width: calc(var(--widthCh) * 1ch);
    /* do not touch the time property!!! */
    --time: calc(var(--lines) * var(--timePerLine));
    animation: grow var(--time) steps(var(--lines));
    animation-fill-mode: forwards;
    background: var(--bgColor);  
    line-height: var(--lineHeight);
    max-height: var(--lineHeight);
    overflow: hidden;
    position: relative;
    width: 290px;
    /* word-break: break-all; */
  }
  
  .typewriter::before {
    content: "";
    animation: 
      type var(--timePerLine) linear infinite, 
      carriageReturn var(--time) steps(var(--lines)) var(--lines),
      caret 0.5s steps(2) infinite;
    background: var(--bgColor);
    border-left: 2px solid;
    bottom: 0;
    height: 2rem;
    position: absolute;
    right: 0;
    width: 300px;
  }
  
  .typewriter.no-caret::before {
    border-left-width: 0;
  }
  
  .typewriter.big-caret::before {
    border-left-width: 1ch;
  }
  
  
  .typewriter.monospace::before {
    animation: 
      type var(--timePerLine) steps(var(--widthCh)) infinite, 
      carriageReturn var(--time) steps(var(--lines)) var(--lines),
      caret 0.5s steps(2) infinite;
  }
  
  /* DEMO */
  section {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    left: 0;
    padding: 1rem;
    position: absolute;
    top: 1rem;
    width: 100%;
  }
  
  section:nth-child(2) { top: 10rem; }
  section:nth-child(3) { top: 20rem; }
  
  .lorem {
    --widthCh: 60;
    --timePerLine: 0.7s;
    color: #000;
  }
  .chat-icon{
    color: #451372;
  }
