.alerta{
  --ion-background-color: #020202; /*Color de fondo*/
  --ion-color-step-550: #ffffff; /* Color texto 1*/
  --ion-color-step-550: #ffffff; /* Color texto 2*/
}
.Textoalerta{
  --ion-color-step-550: #000000; /* Color texto 1*/
}
.Textoalerta2{
  --ion-color-step-550: #000000; /* Color texto 2*/
}